h1 {
    text-align: center;
    padding: 100px 0 0 0;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main p {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    margin: 0 100px 0 100px;
}

header p {
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

.container {
    position: relative;
}

.btn {
    border-radius: 6px;
    align-content: center;
    outline: none;
    background-color: purple;
    text-align: center;
    cursor: pointer;
    color: white;
    margin: 0;
    position: absolute;
    top: 250%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 15px 32px;
}

.btn:hover {
    background-color: rgb(188, 70, 243);
}